<!-- <div class="show-view row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>&#10036; <%=@artist.name%> &#10036;</h1>

    <% @songs.each do |song| %>
      <div class="show-info">
        <%=song.title%></a>
      </div>
    <% end %>
  </div>

  <div class="col-md-2"></div>
</div> -->

<div class="show-view row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>&#10036; <%=@artist.name%> &#10036;</h1>
    <table class= "table table-striped">

      <tr>
        <th><%= sort_link "title", "Song Title" %></th>
        <th><%= sort_link "num", "Noraebang #" %></th>
        <th><%= sort_link "likes", "Likes" %></th>

      </tr>

      <% @songs.each do |song| %>
      <tr>
        <td><%=song.title%></td>
        <td><%=song.num%></td>
        <td><%=song.likes%></td>
      </tr>

      <% end %>
    </table>

  </div>

  <div class="col-md-2"></div>
</div>
