<%= form_for @song do |f| %>
  <div class = 'row'>
    <div class= "col s4">
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title%>
</div>
    <div class= "col s4">
    <%= f.label :artist, 'Artist:' %>
    <%= f.text_field :artist%>
  </div>
    <div class= "col s4">
    <%= f.label :num, 'Noraebang #:' %>
    <%= f.text_field :num%>
    </div>
    <!-- <div class= "col s3">

    </div> -->
</div>
</br>

<%= f.label :genre, 'Genre:' %>
<%= f.collection_select(:genre_id, Genre.all.order(:name), :id, :name ) %>
</br>
<!-- https://www.sitepoint.com/save-multiple-checkbox-values-database-rails/ -->

  <h3><%= f.label "This Song is Perfect For:" %><br /> </h3>
  <%= f.collection_check_boxes :vibe_ids, Vibe.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

    <!-- <%=Vibe.all.order(:name).each do |vibe| %>
      <%= f.check_box( :vibe_ids, { multiple: true }, vibe.id, false )%>
      <%= f.label vibe.name %>
    </br>

    <% end %> -->

  <%= f.submit "Add Song", class: 'btn btn-default'%>
<% end %>
