<div class="show-view row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1> &#10036; <%=@song.title%> &#10036;</h1>
    <img src="<%= @song.artist.img_url %>"/>
    <h2><%=@song.artist.name%></h2>
    <h4>Genre: <%=@song.genre.name%></h4>
    <h4>Noraebang #:  <%=@song.num%></h4>

    <h4>The perfect song for:</h4>
    <% @song.vibes.each do |vibe| %>
      <div class="show-info">
        <%=vibe.name%></a>
      </div>
    <% end %>
    <h4>Likes: <%=@song.likes%></h4>
    <!-- Both of these methods do the same thing! -->
    <!-- <%= form_for @song, method: :patch do |f| %>
      <%= f.submit "Like!", class: 'btn btn-default'%>
    <% end %> -->
    <button class="btn btn-default" type="submit">
      <%= link_to "Like!", liked_song_path(@song), method: :patch %>
    </button>


  </div>

  <div class="col-md-2"></div>
</div>
