<!DOCTYPE html>
<html>
  <head>
    <title>Songbang!</title>
    <%= csrf_meta_tags %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <!-- https://stackoverflow.com/questions/26132384/bootstrap-3-dropdown-doesnt-work-with-rails-4-turbolinks/28242175 -->
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>

    <link href="https://fonts.googleapis.com/css?family=Damion|Fugaz+One|Gochi+Hand|Pacifico
      |Nanum+Gothic+Coding" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
      <header>
        <!-- https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
        <div id="header-banner" class="jumbotron container-fluid" >
            <h1 class="logo">Songbang! </h1>
            <!-- <h3>For Norabang Lovers</h3> -->
        </div>
        <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="297">
          <a class="navbar-brand navbar-left logo" href="#">SongBang!</a>
          <ul class="nav nav-navbar nav-pills">
            <li class=""><%= link_to "Songs", songs_path %></li>
            <li><%= link_to "Artists", artists_path%></li>
            <li><%= link_to "Vibes",vibes_path%></li>
            <li><%= link_to "Genres", genres_path%></li>
            <li><%= link_to "About", about_path%></li>

          </ul>
         <!-- <form class="navbar-form navbar-right"> -->

            <%= form_tag search_path, method: :get, html: {class: "form-group"} do %>
              <%= text_field_tag :title, params[:title],
                  html: {class: "form-control"} %>
              <%= submit_tag 'Search', name: nil, html: {class: "btn btn-default"}%>
            <% end %>


<!-- <%= form_tag(search_path, method: "get") do %> -->
  <!-- <%= label_tag(:title, "Search for:") %> -->
  <!-- <%= text_field_tag(:title)%>
  <%= submit_tag "Search" %>
<% end %> -->

            <!-- <div class="form-group">
              <input type="text" class="form-control" placeholder="Find Song">
            </div>
            <button type="submit" class="btn btn-default">
              <%= link_to "Search", search_path(@song), method: :get %>
            </button> -->
        </nav>
      </header>

      <main  class="container">
        <!-- <p class="notice info"><%= notice %></p> -->
        <p class="alert warning"><%= alert %></p>
        <%= yield %>
      </main>
  </body>
</html>
