<!DOCTYPE html>
<html>
  <head>
    <title>SongBang</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <h1>SongBang!</h1>
        <nav>
          <%= link_to "Songs", songs_path %> | <%= link_to "Artists", artists_path%> | <%= link_to "Grooves",vibes_path%> | <%= link_to "Genres", genres_path%>
        </nav>
      </header>
      <main>
        <p class="notice info"><%= notice %></p>
        <p class="alert warning"><%= alert %></p>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
